################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab4/.vs/Lab4/v16
/Lab4/Lab4-1/obj
